#map-holder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.searchbar {
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 45%;
  right: 45%;
  height: 10%;
  z-index: 2;
}

form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  pointer-events: all;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
  box-shadow: 0 0 3px;
  stroke: black;
}

form:hover {
  width: 200px;
  cursor: pointer;
}

form:hover input {
  display: block;
}

input:focus {
  outline: none;
}

form:hover .fa {
  outline: 2px;
  box-shadow: none;
}

.country {
  fill: #f5f5f5;
  stroke: white;
}

.group {
  pointer-events: all;
}

svg {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.title {
  top: 10%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.graph-window {
  top: 15%;
  left: 15%;
  bottom: 15%;
  right: 15%;
  background-color: white;
  border-radius: 25px;
  position: fixed;
  box-shadow: 0 0 3px;
  stroke: black;
  animation-name: graph-window-animation;
  animation-duration: 500ms;
}

@keyframes graph-window-animation {
  from {
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
  }
  to {
    top: 5%;
    left: 5%;
    bottom: 5%;
    right: 5%;
  }
}

.missing-data {
  object-fit: cover;
}
