{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-lg-1 mt-3">
	</div>

	<div class="col-lg-10 mt-3">

		<div class="text-center">
			<h4>N-Gram Viewer Demo</h4>
			<div id="ngramchart"></div>
			<!-- <div id="ngramchart2"></div> -->
		</div>
		<div class="text-center">
			<!-- <h4>N-Gram Viewer Demo</h4> -->
			<!-- <div id="ngramchart"></div> -->
			<div id="leadlag"></div>
		</div>
		<!-- <hr> -->
	</div>

	<div class="col-lg-1 mt-3">
		<!-- <p>tes</p> -->
	</div>

	<!-- <div class="col-lg-4 mt-3">
		<p>tes</p>
	</div> -->
</div>
<!-- <hr class='mb-3 mt-0'>   -->

<div class="row">
	<div class='col-lg-1'></div>
	<!-- <div class="w-25"></div> -->
	<!-- <div class='col'></div> -->
	<!-- <div class='col-lg'></div> -->
	<div class="col-lg-5 mt-1">
		<form id="newsearch">


			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="inputGroup-sizing">N-Gram</span>
				</div>

				<input id="ngram-search-text" type="text" class="form-control" aria-label="Small"
					aria-describedby="inputGroup-sizing">

				<div class="input-group-append">
					<button id="ngram-search" class="btn btn-primary" type="submit">Update Charts</button>
				</div>
				<!-- </div>

			<div class="form-group form-row">
				<label for="filtercategoryselect" class="col-sm-2 col-form-label pl-2">From</label>

				<div class="col-sm-3">
					<select id="filtercategoryselect" class="form-control">
						<option selected value="all">All</option>
						{% for item in filtercategories %}
						<option value="{{item}}">{{item}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="col-sm-1 text-center">
					<label class="col-form-label my-auto py-2">:</label>
				</div>

				<div class="col-sm-3">
					<select id="filtercategorycountry" class="form-control d-none">
						<option selected value="all">All</option>
						{% for item in countries %}
						<option value="{{item}}">{{item}}</option>
						{% endfor %}
					</select>
				</div>

			</div> -->
		</form>
		<!-- Checkbox for absolute vs percentage relative -->
	</div>

	<div class="col-lg-5 mt-1">
		<!-- <div class="card bg-light">
			<div class="card-body">
				This is some text within a card body.
			</div>
		</div> -->
	</div>

	<div class='col-lg-1'></div>
</div>

<!-- Load in the d3 library -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='js/ngram.js') }}"></script>
<script src="{{ url_for('static', filename='js/leadlag.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock content %}